*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

nav{
    background-color: #a393eb; 
    font-weight:bold;
    margin-bottom: 15px;
}

form{
    background-color: #352f44; 
    margin:10px auto ; 
    width: 400px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



input{
    border: solid 2px black;
    padding-left: 10px;
}

.border-radius-10{
    border-radius: 10px;
}


label{
    font-weight: bold;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-top-10{
    margin-top: 10px;
}


.btn-cancelar{
    margin-left: 170px;
}

.btn-volver{
    justify-content: end;
}

.portada-libro{
    display: block;
    /* align-self: center; */
}

.fondo-negro{
    background-color: black;
}

.btn-dark-purple{
    /* background-color:darkslateblue; */
    background-color:#312a53;
    /* color: white; */
    border: #312a53 solid 1px;
}

.btn-black{
    background-color: black;
    /* color: white; */
    border: black solid 1px;
    text-decoration: none;
}

/* thead{
    background-color: #a393eb;
} */

.bold{
    font-weight: bold;
}

.light-purple-text{
    color: #a393eb;
}

.boton{
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
}

.img-table{
    width:100px;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-left: 25%; */
    flex-direction: column;
}

.btn-ingresar{
    background-color:#a393eb;
    border: #312a53 solid 4px;
    color: black;
    font-weight: bold;
    font-size:x-large;
    padding: 12px;
    /* margin: 5% 25% 5% 40%; */
    align-self: center;
    width: 120px;
    
}

.btn-ingresar:hover{
    color: white;
}

.img-index{
    width: 50%;
    /* margin: 0 10% 10% 10%; */
    align-self: center;

}

.border-purple{
    border:#a393eb solid 2px;
}

.btn-info{
    background-color: #8772e4;
    display: block;
    margin: 10px;
    text-align: center;
    
}

.bg-light-purple{
    background-color: #a393eb;
    
}

.black-border{
    border: black solid 1px;
}

.black-text{
    color: black;
}

.grey-text{
    color: grey;
}


/********************************/
.img-modal-info{
    width: 200px;
}

.modal-info{
    /* max-width: 400px; */
    display: flex;
    justify-content: center;
}

.modal-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/******************/

/* .info-img{
    height: 300px;

}

.info-cards{
    
    max-width: 500px;
    
}

.flex{
    display: flex;
} */
/***********************CARDS***************************/
.img-card{
    height: 250px;
    width: 180px;
}

.book-card{
    width: 180px;

}

.button-group{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    
}
.book-container{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    padding: 10px;
    row-gap: 10px;
}


/*BREAKPOINTS*/


@media(min-width:600px) {
    .book-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:900px) {
    .book-container{
        grid-template-columns: repeat(4,1fr);
    }
}

 @media(min-width:1200px) {
    .book-container{
        grid-template-columns: repeat(5,1fr);
    }
} 
