<!doctype html>
<html lang="en">

<head>
    <title>Libros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
</head>

<body class="p-3 mb-2 fondo-negro text-white">
    <header id="header">
        
    </header>
    <main>
        <div id="app" class="container">
            <br>
            <h1>Libros</h1>
            <br>
            <a class="boton btn-dark-purple text-white" href="../templates/producto_nuevo.html">Nuevo</a>
            <!-- <a class="boton btn-dark-purple text-white" href="producto_nuevo.html">Nuevo</a> -->
            <br><br>
            <div v-if="error">
                <p>Lo sentimos :( , por favor actualice la página </p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table caption-bottom align-middle table-dark table-striped table-hover table-bordered border-purple"> 
                            <!-- <caption>Lista de libros</caption> -->
                            <thead>
                                <tr class="light-purple-text">
                                    <th scope="col">Id</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Editorial</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Portada</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td class="bold">{{producto.nombre}}</td>
                                    <td>{{producto.autor}}</td>
                                    <td>{{producto.editorial}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <button type="button" class="btn-img bg-dark text-white" data-bs-toggle="modal" :data-bs-target="'#img'+producto.id">
                                            <img class="img-table" :src="producto.imagen" :alt="producto.nombre">
                                          </button>
                                            <!-- <img :src="producto.imagen" :alt="producto.nombre"> -->
                                            <div class="modal fade" :id="'img'+producto.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content bg-dark modal-img">
                                                    <!-- <div class="modal-header bg-dark">
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div> -->
                                                    <div class="modal-body">
                                                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                                        <img class="img-table-enlarged" :src="producto.imagen" :alt="producto.nombre">
                                                    </div>
                                                    <!-- <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div> -->
                                                  </div>
                                                </div>
                                              </div>
                                    </td>
                                    <td>
                           
                                        <a class="boton btn-block btn-dark-purple text-white"
                                            :href="'./producto_update.html?id='+ producto.id">Editar</a>

                                            <!-- <a class="boton btn-dark-purple text-white"
                                            :href="'./producto_update.html?id='+ producto.id">Editar</a> -->
                           
                                        <button type="button" class="boton btn-block btn-black text-white"
                                            v-on:click="eliminar(producto.id)">Eliminar</button>
                                        
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        
        
    </main>
    <footer>

    </footer>

    <!--Link de Bootstrap -->    
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin = "anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Link de VUE-->
    <script src="../js/productos.js"></script>
   
</body>

</html>